.main-title {
   font-style: normal;
   font-weight: normal;
   font-size: 65px;
   line-height: 85px;
   text-transform: uppercase;
   color: #474747;
}


@media screen and (max-width: 1800px) {
   .main-title {
      font-size: 55px;
      line-height: 75px;
   }
}
@media screen and (max-width: 1500px) {
   .main-title {
      font-size: 45px;
      line-height: 65px;
   }
}
@media screen and (max-width: 992px) {
   .main-title {
      font-size: 35px;
      line-height: 45px;
   }
}
@media screen and (max-width: 500px) {
   .main-title {
      font-size: 32px;
      line-height: 40px;
   }
}