@font-face {
    font-family: "effra";
    src: url("../fonts/effra/Effra.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "effra";
    src: url("../fonts/effra/Effra-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "effra";
    src: url("../fonts/effra/Effra-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}