:root {
   --main-family: "montserrat", sans-serif; 
   --section-padding: 60px; 
   --section-padding-mobile: 40px; 
   --container-width: 1300px; 

   --main-color: #222222;
   --contrast-color: #ffffff;
   --accent-color: #D76701;

   --standart-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}