.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



.hero {
   padding-top: 220px;
   padding-bottom: 95px;
}
.hero-text {
   font-size: 40px;
   line-height: 55px;
   margin-top: 10px;
   text-transform: uppercase;
   color: #009DBB;
   margin-bottom: 50px;
}
.hero-content {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   .main-title {
      mix-blend-mode: difference;
   }
}
.hero-but {
   display: block;
   width: 210px;
   height: 210px;
   transition: 0.25s;
   margin-left: auto;
   margin-right: auto;
   transform-origin: center;
   svg {
      width: 100%;
      height: 100%;
   }
   &:hover {
      transform: scale(1.2) rotate(180deg);
   }
}
@media screen and (max-width: 1800px) {
   .hero {
      padding-top: 180px;
      padding-bottom: 80px;
   }
   .hero-text {
      font-size: 35px;
   }
}
@media screen and (max-width: 1600px) {
   .hero-but  {
      width: 180px;
      height: 180px;
   }
}
@media screen and (max-width: 1300px) {
   .hero-content {
      width: 100%;
   }
}
@media screen and (max-width: 992px) {
   .hero {
      padding-top: 130px;
      padding-bottom: 52px;
   }
   .hero-text {
      font-size: 28px;
   }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 600px) {
   .hero-text {
      font-size: 22px;
      margin-bottom: 40px;
      line-height: 30px;
   }
   .hero-but  {
      width: 140px;
      height: 140px;
   }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 374px) {
   .hero {
      padding-top: 60px;
   }
}
